<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar class="tool" >
      <ion-title>
          <i *ngIf="photo != ''"><img src="{{photo}}" class="avatar motion spin fade toolimg"></i>
          <i *ngIf="photo == ''"><img src="../assets/imgs/logo.png" class="avatar motion spin fade toolimg"></i>
          <!-- <ion-img width="80" height="80" src="../assets/imgs/logo.png"></ion-img>
          <ion-title> -->
            <h4 style="font-style: italic;">{{uname}} </h4>
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content style="background-color:#2731ae;">
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" style="
      background-color: #2731ae;">
        <ion-icon name="{{p.icon}}" item-left style="color:white"></ion-icon>
        <span style="color: white"> {{p.title}} 
            <span *ngIf="p.jenis == 1" class="jumlah">{{blmterbacamasuk}}</span>
            <span *ngIf="p.jenis == 2" class="jumlah">{{blmterbacatembusan}}</span>
            <span *ngIf="p.jenis == 3" class="jumlah">{{blmterbacadispo}}</span>
          </span>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>