page-konsepsurat {
.kuning{
    color:#f3c200;
}

.hilang{
    display:none;
}

.button-clear.md {
    border-color:transparent;
    background:0 0;
    box-shadow:none;
    color:#11c1f3;
    // max-width:50%;
    text-align:left;
    // position:fixed;
    left:8px;
    bottom:4px;
    color:white;
}

.button-clear {
    border-color:transparent;
    background:0 0;
    box-shadow:none;
    color:#11c1f3;
    // max-width:50%;
    text-align:left;
    // position:fixed;
    left:8px;
    bottom:4px;
    color:white;
}

.button-clear2.md {
    border-color:transparent;
    background:0 0;
    box-shadow:none;
    color:#11c1f3;
    // max-width:50%;
    text-align:right;
    // position:fixed;
    right:8px;
    bottom:4px;
    color:white;
}

.button-clear2 {
    border-color:transparent;
    background:0 0;
    box-shadow:none;
    color:#11c1f3;
    // max-width:50%;
    text-align:right;
    // position:fixed;
    right:8px;
    bottom:4px;
    color:white;
}

}
